body {
    background-color: lightblue;
    font-size: 25px;
    color: white;
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, p {
    margin: 10px 0;
}

#cards {
display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 15px;
    justify-content: center;
    margin: 20px 0;
}

/* Card container */
.divImage {
    width: 120px;
    height: 120px;
    perspective: 800px;
    position: relative;
}

/* Lower part that rotates */
.flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

/* Both cards */
.flip-front, .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backface-visibility: hidden;
    overflow: hidden;
}

/* Front and back cards */
.flip-front {
    transform: rotateY(0deg);
}

.flip-back {
    transform: rotateY(180deg);
}

/* Flip effect */
.flipped .flip-inner {
    transform: rotateY(180deg);
}

/* Images */
.flip-front img, .flip-back img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    cursor: pointer;
}

button{
    position: relative;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkslateblue;
    background-color: coral;
    margin-top: 140px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}