div#cards{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

img{
    width: 100px;
    height: 100px;
    margin-right: -100px;
    cursor: pointer;
}