body{
    background-color: lightblue;
    font-size: 25px;
    color: white;
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
}

#cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    justify-items: center;
    max-width: 600px; /* board's total width */
    margin: 20px auto; /* horizontal center */
}

.divImage {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.divImage img {
    width: 100px;
    height: 100px;
    object-fit: fill; 
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.divImage img:hover {
    transform: scale(1.05);
}

