body{
    background-color: lightblue;
    font-size: 25px;
    color: white;
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
}
div#cards{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

img{
    width: 100px;
    height: 100px;
    margin-right: -100px;
    cursor: pointer;
}